[submodule "foundry-cyfrin/simple-storage/lib/forge-std"]
	path = foundry-cyfrin/simple-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-cyfrin/foundry-fund-me/lib/forge-std"]
	path = foundry-cyfrin/foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
